<!DOCTYPE html>
<html>
<head>
  <title>IntoTheWorld</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="menu">
      <ul>
        <li><%= link_to "О нас", about_path, :class => "big menu nu" %></li>
        <li><%= link_to "Услуги", services_path, :class => "big menu nu" %></li>
        <li><%= link_to "Блог 'Travel Stories'", blog_path, :class => "big menu nu" %></li>
        <li><%= link_to "Контакты", contacts_path, :class => "big menu nu" %></li>
        <li><a href="#" class="big menu nu"><strong>Форум</strong></a></li>
      </ul>
    </div>
  </div>

  <div id="top"></div>


  <div id="content">
    <div id="left_content">

    </div>
    <div id="right_content">
      <div id="inner_right">
      <%= yield %>
      <font class="white">
        <a href="http://localhost:8080/index.html" class="green u">Home</a> | <a href="#" class="green u">Clover Design</a>  © Copyright 2005. <a href="http://localhost:8080/index-5.html" class="nu">Privacy Policy</a><br>
        Valid XHTML, CSS.</font>
      </div>
    </div>
  </div>
</div>

</body>
</html>
